* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Cambria;
  background-size: 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.homecontent {
  box-sizing: border-box;
  width: 50%;
  margin-left: 10%;
  padding-top: 10%;
}

.hometitle {
  font-size: 3rem;
}

.description {
  font-size: 2rem;
}

.buttonlogin {
  margin: 10px 0px;
  border-radius: 4px;
  padding: 10px 24px;
  background-color: #468faf;
  border: 1px solid #2271b1;
  font-size: 1.1rem;
}

.buttonlogin a {
  color: #fff;
}
.buttonlogin:hover {
  background: #2a6f97;
}
