* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: montserrat; }

nav {
  height: 80px;
  width: 100%; }

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 200px;
  font-weight: bold; }

.logo:hover {
  color: #8aa4b8; }

nav ul {
  float: right;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase; }

a.active {
  background: #3747a3;
  transition: .5s; }

a:hover {
  background: #746dce; }

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px; }
  a.active {
    background: none;
    color: #0082e6; }
  a:hover {
    background-color: #0c725c; }
  #check:checked ~ ul {
    left: 0; } }

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("/img/mou2.png"); }

.app {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 596px; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; }

.lists {
  display: flex;
  flex: 1;
  width: 100%; }

.lists .list {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  padding: 8px;
  transition: all 0.2s linear;
  border-radius: 10px; }

.lists .list .list-item {
  background-color: #eef0fd;
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
  margin: 4px 0px; }

.inp {
  width: 100%;
  height: 5rem;
  border: hidden;
  font-size: 20px;
  text-align: center;
  background-color: #f0e8db;
  border-radius: 10px; }

.add {
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 15px;
  text-decoration: none;
  margin: 15px;
  color: #424240;
  position: relative;
  display: inline-block;
  width: 30%;
  background-color: #d5e79e; }

.titlebox {
  border: hidden;
  background: wheat;
  border-radius: 20px;
  width: 100%;
  height: 2rem;
  font-size: large;
  text-align: center; }

.titlebox2 {
  border: hidden;
  background: #e2dac7;
  border-radius: 20px;
  width: 100%;
  height: 1.5rem;
  font-size: medium;
  text-align: center;
  font-family: 'Times New Roman', Times, serif; }

.date {
  background: #e8eff5;
  border: hidden;
  font-size: large;
  border-radius: none;
  width: 100%; }

.save-form {
  background-color: seashell;
  width: 100%;
  height: 1rem;
  border: hidden;
  border-radius: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif; }

.save-form:hover {
  background-color: tan; }

.number_table {
  background-color: seashell;
  width: 3rem;
  height: 2rem;
  border: hidden;
  border-radius: 20px;
  text-align: center; }

.ADD {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: #8d8deb;
  background-color: white; }

.ADD:hover {
  background-color: #e8eff5; }

.toolbars {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%; }

textarea {
  resize: none;
  font-family: 'Times New Roman', Times, serif; }
