<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style>
      * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: montserrat;
  background-size: 35%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; }

.homecontent {
  box-sizing: border-box;
  width: 50%;
  margin-left: 10%;
  padding-top: 10%; }

.hometitle {
  font-size: 3rem; }

.description {
  font-size: 2rem; }

.buttonlogin {
  border-radius: 4px;
  padding: 10px 24px;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  font-size: 1rem; }

.buttonlogin:hover {
  background: seagreen; }
    </style>
  </head>
  
  <body>
    <div>
      <div class="homecontent">
          <div class="hometitle">We are HUST-er</div>
          <div class="description">This website is the first project of my team.
            <br/>
            Member:
            <li>Nguyen Son Tung: 20183854</li>
            <li>Nguyen Thanh Tung: </li>
            <li>Do Xuan Tung:</li>
            <li>Dang The Vang:</li>
          </div>
      <button class="buttonlogin"><a href="/login" >Join with us</a></button>
      </div>
</div>
  </body>
</html>