<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/css/aboutus.css" />
  <style>

  </style>
</head>
<style>
        body{
            background-image: url('/img/draw3.svg');
        }
    </style>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">ScheduleX</label>
    <ul>
        <li><a href="/" class="button">HOME</a></li>
        <li><a href="/aboutus" class="button">ABOUT US</a></li>
    </ul>
  </nav>

  <div>
    <div class="homecontent">
      <div class="hometitle">We are HUST-er</div>
      <div class="description">This website is the first project of my team.
        <br />
        Member:
        <li>Nguyen Son Tung: 20183854</li>
        <li>Nguyen Thanh Tung: </li>
        <li>Do Xuan Tung:</li>
        <li>Dang The Vang: 20183856</li>
      </div>
      <button class="buttonlogin"><a href="/login">Join with us</a></button>
    </div>
  </div>
</body>

</html>