<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScheduleX</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/modal2.css"/>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <style>
      #vanmaihuong{
font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}
  </style>
  <body>
<!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="closemodal">&times;</span>
        <div class="login">
            <p style="border-left: 5px solid #2271b1; padding:12px; background-color:#fff;
                margin-bottom:25px;font-size:14px; box-shadow:rgb(0 0 0 /10%) 0 0 10px;">Sign up on this page</p>
            <form name="action-form" action="/signup" id="signup-form" class="form" method="post">
                <div class="user-name">
                    <label for="user-name">Username</label>
                    <input type="text" name="username" id="user_name_new" />
                </div>
                <div class="user-email">
                    <label for="user-email">Email</label>
                    <div>
                        <input type="email" name="email" id="user_email" />
                    </div>
                </div>
                <div class="user-name">
                    <label for="user-name">Password</label>
                    <input type="password" name="password" id="user_name_new" />
                </div>
                <p style="margin:10px 0 20px 0;font-size:14px;">
                    An email will be sent to validate your account.
                </p>
                <input style="margin-left:105px;" type="submit" value="Sign up" />
            </form>
            
        </div>     
          </div>
    </div>
<!-- The Modal -->
    <div id="myModal2" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="closemodal2">&times;</span>
        <div class="login">
                <form name="action-form" action="/login" id="login-form" class="form" method="post">
                    <div class="user-name">
                        <label for="user-name">Username</label>
                        <input type="text" name="username" id="user_name" class="input" />
                    </div>
                    <div class="user-pass">
                        <label for="user-pass">Password</label>
                        <div>
                            <input type="password" name="password" id="user_pass" class="input" />
                        </div>
                    </div>
                    <div style="margin:5px 0 20px;">
                        <label>
                            Prove your humanity
                        </label>
                        <br />
                        <span style="font-size:16px;">3&nbsp;&nbsp;+&nbsp;&nbsp;7 = </span>
                        <input type="text" style="width:25px;height:30px;font-size:16px;" />
                    </div>
                    <div class="remember-acc">
                        <input type="checkbox" style="vertical-align: middle;" name="rememberme" id="remember" />
                        <label style="margin-right:22px;">Auto login</label>
                    </div>
                    <p>
                        <input type="submit" value="Sign in" id="submit" />
                    </p>
                </form>
               
            </div>          
              </div>
    </div>
    <header>
      <a href="#" id="vanmaihuong" class="brand">Văn Mai Hương</a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a  onclick="contact()">Sign up</a>
          <a  onclick="contact2()">Sign in</a>
          <a href="#">Gallery</a>
          <a href="#">Contact</a>
        </div>
      </div>
    </header>

    <section class="home">
      <img class="video-slide active" src="/img/09C3B196-5C34-4E49-A2F8-DF9CB3015AD8.jpeg" autoplay muted loop>
      <img class="video-slide" src="/img/57E338B7-E2DE-4832-B6C5-FC3E2167CF6E.jpeg" autoplay muted loop>
      <img class="video-slide" src="/img/D6EC27D5-F2B0-481F-B6CC-DA12A2902515.jpeg" autoplay muted loop>
      <img class="video-slide" src="/img/DC4C805F-C875-45BC-891D-6580B20DDC67.jpeg" autoplay muted loop>
      <div class="content active">
        <h1><br><span></span></h1>
        <p>"Với những sản phẩm đơn lẻ ra mắt trong vài năm trở lại đây, khán giả đã thấy một Văn Mai Hương trưởng thành hơn ở cả trong âm nhạc lẫn hình ảnh.Và album Hương với hầu hết là những ca khúc buồn sẽ là cung bậc cảm xúc của người phụ nữ sau khi chia tay. Ở thời điểm hiện tại và trong tương lai, tôi muốn hướng tới sự nồng nàn, tinh tế qua mỗi bài hát mình thể hiện ...".</p>
        <a href="#">Đi cùng Hương.</a>
      </div>
      <div class="content">
        <h1><br><span></span></h1>
        <p>
            "Tôi muốn album Hương lần này sẽ định nghĩa rõ hơn về một Văn Mai Hương ở độ tuổi 25 (thời điểm bắt đầu thực hiện album) là như thế nào. 25 là lứa tuổi rất đặc biệt trong cuộc đời của mỗi con người, không quá nhỏ nhưng cũng không quá lớn và là mốc chuyển giao giữa một người thanh niên và một người trưởng thành..."
           <br/>
            - Hứa Kim Tuyền -
        </p>
        
        <a href="#">Read More</a>
      </div>
      <div class="content">
        <h1><br><span></span></h1>
        <p>Bên cạnh những bài hát đã từng được ra mắt nhưng được làm mới lại, tôi sẽ giới thiệu thêm 4 ca khúc mới mang câu chuyện, cảm xúc khác nhau. Điểm đặc biệt của sản phẩm là có 6 bài hát do Hứa Kim Tuyền sáng tác và gắn liền với 3 cuộc tình của chính bạn ấy. Bản thân tôi cũng đã bước qua nhiều câu chuyện nên có được sự đồng cảm để thể hiện cảm xúc nhất."</p>
        <a href="#">Album</a>
      </div>
      
      <div class="content">
        <h1><br><span></span></h1>
        <p>"Một phần cuộc sống của tôi được thể hiện qua âm nhạc và tôi cũng không phải là người giỏi để che giấu hay lừa dối cảm xúc của chính mình. Khi có sự quan tâm, đồng hành từ mọi người như vậy, đó cũng là một niềm hạnh phúc rất lớn của tôi rồi."
</p>
        <a href="#">Read More</a>
      </div>
      <div class="media-icons">
        <a href="https://www.facebook.com/sontung.nguyen.9638718/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/ns.tungg__/"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
        <div class="nav-btn"></div>
      </div>
    </section>
    
    

    <script type="text/javascript">
    //Javacript for responsive navigation menu
    const menuBtn = document.querySelector(".menu-btn");
    const navigation = document.querySelector(".navigation");

    menuBtn.addEventListener("click", () => {
      menuBtn.classList.toggle("active");
      navigation.classList.toggle("active");
    });

    //Javacript for video slider navigation
    const btns = document.querySelectorAll(".nav-btn");
    const slides = document.querySelectorAll(".video-slide");
    const contents = document.querySelectorAll(".content");

    var sliderNav = function(manual){
      btns.forEach((btn) => {
        btn.classList.remove("active");
      });

      slides.forEach((slide) => {
        slide.classList.remove("active");
      });

      contents.forEach((content) => {
        content.classList.remove("active");
      });

      btns[manual].classList.add("active");
      slides[manual].classList.add("active");
      contents[manual].classList.add("active");
    }

    btns.forEach((btn, i) => {
      btn.addEventListener("click", () => {
        sliderNav(i);
      });
    });
    </script>

  </body>
  <script>
    // Get the modal
var modal = document.getElementById("myModal");
var span = document.getElementsByClassName("closemodal")[0];

function contact(){
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
// Get the modal
var modal2 = document.getElementById("myModal2");
var span2 = document.getElementsByClassName("closemodal2")[0];

function contact2(){
    modal2.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
  modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal2) {
    modal2.style.display = "none";
  }
}
    </script>
</html>
