<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">ScheduleX</label>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a class="active" href="/aboutus">About us</a></li>
    </ul>
  </nav>

  <div>
    <div class="homecontent">
      <div class="hometitle">ScheduleX helps teams move work forward.</div>
      <div class="description">Collaborate, manage projects, and reach new productivity peaks.
        From high rises to the home office, the way
        your team works is unique accomplish it all with ScheduleX.</div>
      <button class="buttonlogin"><a href="/login">Join with us</a></button>
    </div>
  </div>
</body>

</html>