<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập ScheduleX</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">ScheduleX</label>
        <ul>
            <li><a href="/" class="button">HOME</a></li>
            <li><a href="/aboutus" class="button">ABOUT US</a></li>
        </ul>
    </nav>
    <div class="login">
        <form name="action-form" id="login-form" class="form" method="post">
            <div class="user-name">
                <label for="user-name">Username</label>
                <input type="text" name="username" id="user_name" class="input" />
            </div>
            <div class="user-pass">
                <label for="user-pass">Password</label>
                <div>
                    <input type="password" name="password" id="user_pass" class="input" />
                </div>
            </div>
            <div style="margin:5px 0 20px;">
                <label>
                    Prove your humanity
                </label>
                <br />
                <span style="font-size:16px;">3&nbsp;&nbsp;+&nbsp;&nbsp;7 = </span>
                <input type="text" style="width:25px;height:30px;font-size:16px;" />
            </div>
            <div class="remember-acc">
                <input type="checkbox" style="vertical-align: middle;" name="rememberme" id="remember" />
                <label style="margin-right:22px;">Auto login</label>
            </div>
            <p>
                <input type="submit" value="Sign in" id="submit" />
            </p>
        </form>
        <div class="nav">
            <a href="/signup">Sign up &nbsp; &nbsp; &nbsp; </a>
            <a href="/">Back to home</a>
        </div>
    </div>
    <div class="back-ground">
        <div class="left-bg"><img src="/img/background-left.png"/></div>
        <div class="right-bg"><img src="/img/background-right.png"/></div>
    </div>
</body>
</html>