<style>

</style>
<body>
    {{#each courses}}
    <li>
        <div>{{this.username}}</div>
        <div>{{this.password}}</div>
        <div>{{this.email}}</div>
        <div>{{this.company}}</div>
    </li>
    {{/each}}
</body>