<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng kí ScheduleX</title>
    <link rel="stylesheet" href="/css/signup.css"/>
</head>
<body>
    <div class="home">
        <div class="logo">ScheduleX</div>
        <div class="choose">
            <a href="/" class="button">HOME</a>
            <a href="/" class="button">ABOUT US</a>
        </div>
    </div>
    <div class="login">
        <p style="border-left: 5px solid #2271b1; padding:12px; background-color:#fff;
            margin-bottom:25px;font-size:14px; box-shadow:rgb(0 0 0 /10%) 0 0 10px;">Sign up on this page</p>
        <form name="action-form" action="/signup" id="signup-form" class="form" method="post">
            <div class="user-name">
                <label for="user-name">Username</label>
                <input type="text" name="username" id="user_name_new" />
            </div>
            <div class="user-email">
                <label for="user-email">Email</label>
                <div>
                    <input type="email" name="email" id="user_email" />
                </div>
            </div>
            <div class="user-name">
                <label for="user-name">Password</label>
                <input type="password" name="password" id="user_name_new" />
            </div>
            <p style="margin:10px 0 20px 0;font-size:14px;">
               An email will be sent to validate your account.
            </p>
            <input style="margin-left:105px;" type="submit" value="Sign up" />
        </form>
        <div class="nav">
            <a href="/login">Sign in &nbsp; &nbsp; &nbsp; </a>
            <a href="/">Back to home</a>
        </div>
    </div>
    <div class="back-ground">
        <div class="left-bg"><img src="/img/background-left.png"/></div>
        <div class="right-bg"><img src="/img/background-right.png"/></div>
    </div>
</body>
</html>