                <div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title"  />
					<input class="inp" type="text" name="description" />
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>