<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background:rgb(9, 124, 9);
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active{
    background:rgb(27, 179, 27);
    transition: .5s;
  }
  a:hover{
      background:rgb(10, 100, 50);
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a.active{
      background: none;
      color: #0082e6;
    }
    a:hover{
        background-color: rgb(12, 114, 92);
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
 


	</style>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">ScheduleX</label>
      <ul>
        <li><a class="active" href="/news">Profile</a></li>
		<li><a class="active" href="#">Log out</a></li>

      </ul>
      <ul>
        <li><img class="avatar" src="/img/avatar.png" alt="change your avatar"></li>
      </ul>
    </nav>
	
	<form action="/saveform" method="post">
		<input class="save-form" type="submit" value="SAVE"/>
		
	<div class="app">
		<div class="lists">
			<div class="list">
				<div class="titlemain"><input class="titlebox" type="text" value="OPEN" name="status"/></div>


				{{!--  hien thi --}}
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title"  />
					<input class="inp" type="text" name="description" />
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title"  />
					<input class="inp" type="text" name="description" />
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
				<div id="ajax">
 				</div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" />
					<input class="inp" type="text">
					<div class="deadline">Deadline:
						<select class="sel">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
				
			</div>
			<div class="list">
				<div class="titlemain"><input class="titlebox" type="text" value="IN PROGRESS" name="status" ></div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title" />
					<input class="inp" type="text" name="description">
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>

				</div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" />
					<input class="inp" type="text">
					<div class="deadline">Deadline:
						<select class="sel">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="titlemain"><input class="titlebox" type="text" value="IN REVIEW" name="status" /></div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title" />
					<input class="inp" type="text" name="description">
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>

				</div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title" />
					<input class="inp" type="text" name="description">
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="titlemain"><input class="titlebox" type="text" value="DONE" name="status" ></div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title" />
					<input class="inp" type="text" name="description">
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
				<div class="list-item" draggable="true">
					<input class="titlebox2" type="text" name="title" />
					<input class="inp" type="text" name="description">
					<div class="deadline">Deadline:
						<select class="sel" name="deadline">
							<option> </option>
							<option>Monday</option>
							<option>Tuesday</option>
							<option>Thursday</option>
							<option>Wedbnesday</option>
							<option>Friday</option>
							<option>Saturday</option>
							<option>Sunday</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form>
  </body>
  	<script>
const list = document.querySelectorAll('.list');
const list_items = document.querySelectorAll('.list-item');
const lists = document.querySelectorAll('.list');

let draggedItem = null;
for(let j = 0; j < list.length; j++){
for (let i = 0; i < list_items.length; i++) {
	const item = list_items[i];
	const field = list[j];
	
	// UI
	item.addEventListener('dragstart', function () {
		draggedItem = item;
		setTimeout(function () {
			item.style.display = 'none';
		}, 0)
	});

	item.addEventListener('dragend', function () {
		setTimeout(function () {
			draggedItem.style.display = 'block';
			draggedItem = null;
		}, 0);
	})

	for (let j = 0; j < lists.length; j ++) {
		const list = lists[j];

		list.addEventListener('dragover', function (e) {
			e.preventDefault();
		});
		
		list.addEventListener('dragenter', function (e) {
			e.preventDefault();
			this.style.backgroundColor = 'rgba(0, 0, 0, 0.2)';
		});

		list.addEventListener('dragleave', function (e) {
			this.style.backgroundColor = 'rgba(0, 0, 0, 0.1)';
		});

		list.addEventListener('drop', function (e) {
			console.log('drop');
			this.append(draggedItem);
			this.style.backgroundColor = 'rgba(0, 0, 0, 0.1)';
		});
	}
	}
}
</script>

</html>
