<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" href="/css/user.css" />
    <title>Your Information</title>
</head>
<body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">ScheduleX</label>
      <ul>
        <li><a class="active" href="/user">Profile</a></li>
		<li><a class="active" href="/logout">Log out</a></li>

      </ul>
      <ul>
        <li><a href="/user"><img class="avatar" src="/img/avatar.png" alt="change your avatar"></a></li>
      </ul>
    </nav>
<div>
<br/>
<h1 style="text-align: center;" >Edit your profile</h1>
    {{#each courses}}
  <form action="/user/info?_method=PUT" method="POST">
    <label for="Username">Username</label>
    <input type="text" id="username" name="username" placeholder="Your username" value="{{this.username}}">
    <br/>

    <label for="Password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password.." value="{{this.password}}">
    <br/>

    <label for="Email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your email.." value="{{this.email}}">
    <br/>

    <label for="Idteam">Idteam</label>
    <input type="text" id="Idtem" name="idTeam" placeholder="idTeam" value="{{this.idTeam}}">
    <br/>

    <input type="submit" value="Submit">
  </form>
</div>
    {{/each}}
</body>
</html>