<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user.css" />
</head>


<body>
    <div class="contain-all">
      <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>
          <label class="logo">ScheduleX</label>
        <ul>
          <li><a class="active" href="/user/info">Profile</a></li>
          <li><a class="active" href="/logout">Log out</a></li>
        </ul>
        <ul>
          <li><img class="avatar" src="/img/avatar.png" alt="change your avatar"></li>
        </ul>
      </nav>

      <div class="toolbars">
        <div class="but">
          <button  class="ADD" id="show-form1">+</button>
          <button  class="ADD" id="show-form2">+</button>
          <button  class="ADD" id="show-form3">+</button>
          <button  class="ADD" id="show-form4">+</button>
        </div>
      </div>

  <div class="app">
    <div class="lists">
      <div class="list">
        <form class="list-item" method="POST" action="/user/create" id="form-add1">
          <input class="titlebox2" type="text" name="title" placeholder="Title"/>
          <textarea class="inp" type="text" name="description" placeholder="Descriptions"></textarea>
          <input class="date" name="deadline" type="datetime-local"/> 
          <input class="save-form" type="submit" value="SAVE" />
        </form>
      </div>

      <div class="list">
        <form class="list-item" method="POST"  id="form-add2">
          <input class="titlebox2" type="text" name="title" placeholder="Title"/>
          <textarea class="inp" type="text" name="description" placeholder="Descriptions"></textarea>
            <input class="date" name="deadline" type="datetime-local"/>    
            <input class="save-form" type="submit" value="SAVE" />
        </form>
      </div>
      
        <div class="list">
          <form class="list-item" method="POST"  id="form-add3">
            <input class="titlebox2" type="text" name="title" placeholder="Title" />
            <textarea class="inp" type="text" name="description" placeholder="Descriptions"></textarea>
              <input class="date" name="deadline" type="datetime-local"/> 
              <input class="save-form" type="submit" value="SAVE" />
          </form>
        </div>
      
        <div class="list">
          <form class="list-item" method="POST" id="form-add4">
            <input class="titlebox2" type="text" name="title" placeholder="Title"/>
            <textarea class="inp" type="text" name="description" placeholder="Descriptions"></textarea>
              <input class="date" name="deadline" type="datetime-local" />
              <input class="save-form" type="submit" value="SAVE" />
          </form>
        </div>
    </div>
  </div>

</div>


</body>
<script>
  $(document).ready(function () {
      $("#form-add1").hide();
      $("#form-add2").hide();
      $("#form-add3").hide();
      $("#form-add4").hide();
      var countClick1 = 0;
      var countClick2 = 0;
      var countClick3 = 0;
      var countClick4 = 0;


      $("#show-form1").click(function () {
        if(countClick1%2 == 0) {
          $("#form-add1").show();
          countClick1++;
        } else {
          $("#form-add1").hide();
          countClick1++;
        }
      });
      $("#show-form2").click(function () {
        if(countClick2%2 == 0) {
          $("#form-add2").show();
          countClick2++;
        } else {
          $("#form-add2").hide();
          countClick2++;
        }
      });
      $("#show-form3").click(function () {
        if(countClick3%2 == 0) {
          $("#form-add3").show();
          countClick3++;
        } else {
          $("#form-add3").hide();
          countClick3++;
        }
      });
      $("#show-form4").click(function () {
        if(countClick4%2 == 0) {
          $("#form-add4").show();
          countClick4++;
        } else {
          $("#form-add4").hide();
          countClick4++;
        }
      });
    });
</script>

</html>